<template>
    <div>
        <div class="row">
            <div class="space-between">
                <h1>{{animal.name}}</h1>
                <div>
                    <button class="ui medium basic primary button" v-if="user.role === 'admin'" v-on:click="editAnimal()">Edit</button>
                    <button class="ui medium basic red button" v-if="user.role === 'admin'" v-on:click="deleteAnimal()">Delete</button>
                </div>
            </div>
        </div>
        <div style="justify-content:space-between;" class="ui segment blue-white-gradient">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="ui card">
                        <div class="image" v-if="animal.image_url">
                            <img :src="animal.image_url" />
                        </div>
                        <div class="content">
                            <a class="header">{{animal.name}}</a>
                            <p class="email">({{animal.nickname}})</p>
                            <p class="email">{{animal.animal_specie.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div style="height:100%;" class="ui segment">
                        <label class="header">Bio:</label>
                        <p>{{animal.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui text segment">
            <div class="space-between">
                <h3>History ({{notesLength}})</h3>
                <button class="ui medium basic primary button" v-on:click="goToUrl(addNoteUrl)">Add Note</button>
            </div>
            <div class="ui segment blue" v-for="animalNote in animalNotes">
                <label>Date: {{animalNote.created_at}}</label>
                <p>
                    - {{animalNote.note}}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['animal', 'animal-notes'],
        data() {
            return {
                notesLength: 0,
                user: {},
                addNoteUrl: '',
            }
        },
        created() {
            axios.get('/user')
            .then((response) => {
                this.user = response.data.user;
            }),
            this.addNoteUrl = '/animal/' + this.animal.id + '/add-note'
        },
        mounted() {
            this.notesLength = this.animalNotes.length;
        },
        methods: {
            editAnimal() {
                window.location = '/animals/' + this.animal.id + '/edit';
            },
            deleteAnimal() {
                if (confirm('Are you sure you want to delete this animal?')) {
                    axios.delete('/admin/animal/' + this.animal.id)
                    .then((response) => {
                        window.location = '/animals';
                    });
                }
            },
            goToUrl: function (url) {
                window.location = url;
            }
        }
    }
</script>

<style scoped>
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
</style>