<template>
    <div>
        <div class="ui massive middle aligned divided list">
            <div class="item" v-for="certification in certifications" v-if="!edit">
                <span>{{certification.animal_species.name}}</span>
                <div class="right floated content">
                    <span class="expires-in">Days Remaining: {{certification.days_until_renewal}}</span>
                    <button class="ui basic green button" v-on:click="editCertification(certification)">Renew</button>
                    <button class="ui basic red button" v-on:click="deleteCertification(certification.id)">Delete</button>
                </div>
            </div>
            <div class="ui form" v-if="edit">
                <p>Renew Certification for {{name}}</p>
                <div class="field">
                    <label>Length of Certification</label>
                    <input v-model="length" type="number">
                </div>

                <button class="ui basic green button" v-on:click="renewCertification(editId)">Renew</button>
                <button class="ui basic red button" v-on:click="edit = false">Cancel</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['handlingCertifications', 'user'],
        data() {
            return {
                certifications: this.handlingCertifications,
                editId: null,
                edit: false,
                length: 90,
                name: ''
            }
        },
        methods: {
            editCertification(item) {
                this.name = item.animal_species.name;
                this.editId = item.id;
                this.edit = true;
            },

            renewCertification(id) {
                axios.post('/admin/employee/' + id + '/renew', {'length': this.length})
                .then((response) => {
                    this.certifications = this.certifications.map((current, index) => {
                        if (current.id === response.data.certification.id) {
                            return response.data.certification;
                        }
                        else {
                            return current;
                        }
                    });

                    this.edit = false;
                })
            },

            deleteCertification(id) {
                if (confirm('Are you sure you want to delete this certification from ' + this.user.name + '?')) {
                    axios.delete('/admin/employee/' + id)
                    .then((response) => {
                        this.certifications = this.certifications.filter((current, index) => {
                        if (current.id !== id) {
                            return current;
                        }
                    });
                    })
                }
            }
        }
    }
</script>

<style scoped>
.item {
    display: inline-block;
}
.expires-in {
    padding: 10px;
}
</style>