<template>
    <div>
        <div class="right floated content">
            <div class="ui buttons" v-if="!animal.checked_in_at">
                <button v-on:click="goToUrl(animalDashboardUrl)" class="ui blue button">Dashboard</button>
                <div class="or"></div>
                <button v-on:click="goToUrl(checkinUrl)" class="ui disabled button">Check-in</button>
            </div>
        </div>
        <div class="content">
            <img class="ui avatar image" :src="animal.animal.image_url">
            <span>{{animal.animal.name}}</span>
            <div class="check_out_meta">
                <div class="row">
                    <span class="meta-text">Checked out by: {{animal.checked_out_by.name}}</span>
                </div>
                <div class="row">
                    <span class="meta-text">Checked out at: {{animal.checked_out_at_readable}}</span>
                </div>
                <div class="row" v-if="animal.checked_in_at">
                    <span class="meta-text">Checked in at: {{animal.checked_in_at_readable}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['animal'],
        data() {
            return {
                checkinUrl: '',
                animalDashboardUrl: ''
            }
        },
        created() {
            this.checkinUrl = '/animals/' + this.animal.id + '/check-in';
            this.animalDashboardUrl = '/animal/' + this.animal.id;
        },
        methods: {
            goToUrl: function (url) {
                window.location = url;
            }
        }
    }
</script>

<style scoped>
    .check_out_meta {
        padding-left: 20px;
    }
    .meta-text {
        font-size: 12px;
    }
    .item {
        display: inline-block;
    }
    p {
        font-size: 16px;
    }
</style>