<template>
    <div>
        <div class="ui segment">
            <h2 class="ui horizontal divider header" v-if="!history">
                Animals Checked Out
            </h2>

            <div class="ui grid stackable" v-if="history">
                <div class="sixteen wide column center aligned">
                    <div class="ui icon input full-width">
                        <input v-model="search" type="text" placeholder="Search Animals...">
                    </div>
                </div>
            </div>
            <h2 class="ui horizontal divider header" v-if="history">
                Checkout History
            </h2>
            <!-- Animals -->
            <div class="ui massive middle aligned divided list" v-if="!history">
                <div class="item" v-for="animal in animalsFiltered">
                    <checked-out-animal :animal="animal"></checked-out-animal>
                </div>
                <p class="content" v-if="animals.length == 0">
                *No animals checked out*
                </p>
            </div>

            <!-- Animals History -->
            <div class="ui massive middle aligned divided list" v-if="history">
                <div class="item" v-for="animal in animalsFiltered">
                    <checked-out-history :animal="animal"></checked-out-history>
                </div>
                <p class="content" v-if="animals.length == 0">
                *No animals checked out*
                </p>
            </div>
        </div>  

    </div>
</template>

<script>
    export default {
        props: ['animals', 'history'],
        data() {
            return {
                search: '',
                animalsFiltered: ''            
            }
        },
        created() {
            this.animalsFiltered = this.animals;
        },
        watch: {
            search: function() {
                this.updateList();
            }
        },
        methods: {
            updateList: function() {
                var newList = [];
                function contains(container, value) {
                    var returnValue = false;
                    var pos = container.indexOf(value);
                    if (pos >= 0) {
                        returnValue = true;
                    }
                    return returnValue;
                }
                if (this.search !== '') {
                    for (var animal of this.animals) {
                        var nameSearch = contains(animal.animal.name.toLowerCase(), this.search.toLowerCase());
                        var nickNameSearch = contains(animal.animal.nickname.toLowerCase(), this.search.toLowerCase());
                        if (nameSearch == true || nickNameSearch == true)
                            newList.push(animal);
                    }
                    this.animalsFiltered = newList;
                }
                else
                    this.animalsFiltered = this.animals;
            }
        }
    }
</script>

<style scoped>
    .check_out_meta {
        padding-left: 20px;
    }
    .meta-text {
        font-size: 12px;
    }
    .item {
        display: inline-block;
    }
    p {
        font-size: 16px;
    }
</style>