<template>
<div>
    <h2 class="ui horizontal divider header">
        Dashboard
    </h2>
     <div style="min-height:500px;" class="ui segment blue-white-gradient">
        <div class="dashboard-container">
            <div class="segment ui dashboard-split">
                <!-- Animals -->
                <div>
                    <h3>Your Animals Licenses</h3>
                    <div class="ui massive middle aligned divided list">
                        <div class="item" v-for="certification in orderedCerts">
                            <handling-certification-list :certification="certification"></handling-certification-list>
                        </div>
                        <p class="content" v-if="user.handling_certifications.length == 0">
                            *No licenses to renew*
                        </p>
                    </div>
                </div>
            </div>
            <div class="segment ui dashboard-split">
                <!-- Animals Checked out -->
                <div>
                    <h3>Animals Checked Out</h3>
                    <div class="ui massive middle aligned divided list">
                        <div class="item" v-for="animalCheckout in animalCheckouts">
                            <checked-out-animal :animal="animalCheckout"></checked-out-animal>
                        </div>
                        <p class="content" v-if="animalCheckouts.length == 0">
                            *No animals checked out.*
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>
    export default {
        props: ['user', 'animals', 'animalCheckouts'],
        data() {
            return {
                userProfileUrl: ''
            }
        },
        created() {
            this.userProfileUrl = 'user/' + this.user.id
        },
        computed: {
            certifications() {
                return this.user.handling_certifications.slice(0, 3);
            },
              orderedCerts: function () {
                return _.orderBy(this.certifications, 'expires')
            }
        }
    }
</script>

<style scoped>

</style>