<template>
    <div>
        <div class="right floated content">
            <span style="font-size:16px;">Days until renewal:</span>
            <a v-if="certification.days_until_renewal >= 30" class="ui huge blue circular label">{{certification.days_until_renewal}}</a>
            <a v-if="certification.days_until_renewal < 30 && certification.days_until_renewal > 10" class="ui huge orange circular label">{{certification.days_until_renewal}}</a>
            <a v-if="certification.days_until_renewal <= 10" class="ui huge red circular label">{{certification.days_until_renewal}}</a>

        
        </div>
        <div class="content">
            <span class="animal-name">{{certification.animal_species.name}}</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['certification'],
        data() {
            return {

            }
        },
        created() {

        },
        methods: {

        }
    }
</script>

<style scoped>
.item {
    display: inline-block;
}
</style>