<template>
    <div>
        <div class="ui massive middle aligned divided list">
            <div class="item" v-for="item in items" v-if="!edit">
                <span>{{item.name}}</span>
                <div class="right floated content">
                    <button class="ui basic primary button" v-on:click="editItem(item)">Edit</button>
                    <button class="ui basic red button" v-on:click="deleteItem(item.id)">Delete</button>
                </div>
            </div>
            <div class="ui form" v-if="edit">
                <div class="field">
                    <label>Name</label>
                    <input v-model="name" type="text">
                </div>

                <button class="ui basic green button" v-on:click="saveItem()">Save</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['listData', 'type'],
        data() {
            return {
                items: this.listData,
                edit: false,
                name: '',
                editId: null
            }
        },
        methods: {
            editItem(item) {
                this.editId = item.id;
                this.edit = true;
                this.name = item.name;
            },

            saveItem() {
                axios.patch('/admin/' + this.type + '/' + this.editId, {'name': this.name})
                .then((response) => {
                    this.items = this.items.map((current, index) => {
                        if (response.data.id === current.id) {
                            return response.data;
                        }
                        else {
                            return current;
                        }
                    });
                    this.edit = false;
                });
            },

            deleteItem(id) {
                if (confirm('Are you sure you want to delete this item?')) {
                    axios.delete('/admin/' + this.type + '/' + id)
                    .then((response) => {
                        this.items = this.items.filter((current, index) => {
                            if (current.id !== id) {
                                return current;
                            }
                        });
                    })
                }
            }
        }
    }
</script>

<style scoped>
.item {
    display: inline-block;
}
</style>