<template>
    <div>
        <div class="right floated content">
            <div class="ui buttons" v-if="this.hasCertificate == true">
                <button v-on:click="goToUrl(animalDashboardUrl)" class="ui blue button">Profile</button>
                <div class="or"></div>
                <button v-on:click="goToUrl(checkoutUrl)" class="ui button" v-if="!animal.disabled">Checkout</button>
                <div v-if="animal.disabled" data-tooltip="This animal is currently checked out" data-position="left center" style="width:102px">
                    <button class="ui disabled button">Checkout</button>
                </div>
            </div>
            <div class="ui buttons" v-if="this.hasCertificate == false">
                <button v-on:click="goToUrl(animalDashboardUrl)" class="ui blue button">Profile</button>
                <div class="or"></div>
                <button v-on:click="goToUrl(checkoutUrl)" class="ui disabled button" v-if="!animal.disabled">Checkout</button>
            </div>
        </div>
        <div class="content small-at-mobile">
            <img class="ui avatar image" :src="animal.image_url">
            <span>{{animal.name}}</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['animal', 'certifications'],
        data() {
            return {
                checkoutUrl: '',
                animalDashboardUrl: '',
                hasCertificate: false,
            }
        },
        created() {
            this.checkoutUrl = '/animals/' + this.animal.id + '/checkout';
            this.animalDashboardUrl = '/animal/' + this.animal.id;
            this.hasCertificate = this.checkCertificate();
        },
        methods: {
            goToUrl: function (url) {
                window.location = url;
            },
            checkCertificate: function() {
                if (this.certifications.length !== 0) {
                    for (var certificate of this.certifications){
                        if (certificate.animal_species_id == this.animal.animal_species_id)
                            return true;
                    }
                }
                return false;
            }
        }
    }
</script>

<style scoped>
.item {
    display: inline-block;
}
</style>