<template>
<div class="ui segment">
    
    <div>
        <div class="ui grid stackable">
            <div class="six wide column left aligned">
                <div class="ui icon input full-width">
                    <input v-model="search" type="text" placeholder="Search Animals...">
                </div>
            </div>
            <div class="ten wide column right aligned btns-search">
                <div>
                    <button v-if="this.type == 'specie' || this.type == 'animal'" class="ui icon button grey large" v-on:click="backToCategories()">
                        Back
                    </button>
                    <button class="ui orange button pointer large centered" v-on:click="goToUrl(createAnimalUrl)" v-if="user.role === 'admin' && this.type == 'category'">Add Animal</button>
                </div>
                <div>
                    <button title="List view" v-on:click="showListView()" class="ui icon button blue large">
                        <i class="list layout icon large"></i>
                    </button>
                    <button title="Grid view" v-on:click="showGridView()" class="ui icon button blue large">
                        <i class="grid layout icon large"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <h2 class="ui horizontal divider header">
        Animals
    </h2>

    <div style="text-align:center;" class="content" v-if="user.handling_certifications.length == 0">
        <h3>*You need Animal licenses before handling animals*</h3>
        <hr>
    </div>
    
    <!-- Animals -->
    <div v-show="showList">
        <h3>Animals</h3>
        <div class="ui massive middle aligned divided list">
            <div class="item" v-for="animal in animalsFiltered">
                <list-animal :animal="animal" :search="search" :certifications="certifications"></list-animal>
            </div>
            <p class="content" v-if="animals.length == 0">
                *No animals available*
            </p>
        </div>
    </div>  
    <!-- Category Tiles -->
    <div v-show="showGrid">
        <div v-if="this.type == 'category'" class="ui cards flex-center">
            <category-tile 
                class="tile hover"
                v-on:click.native="setCategory(category)" 
                v-for="category in categories" 
                :category="category">
            </category-tile>
        </div>
        <div v-if="this.type == 'specie'" class="ui cards flex-center">
            <species-tile  
                class="tile hover" 
                v-for="specie in species"
                v-on:click.native="setSpecies(specie)" 
                :specie="specie" 
                :category="selectedCategory">
            </species-tile>
        </div>
        <div v-if="this.type == 'animal'" class="ui cards flex-center">
            <animal-tile 
                class="animal-tile hover"
                v-for="animal in animals" 
                :animal="animal"
                :specie="selectedSpecie"
                :certifications="certifications">
            </animal-tile>
            <div class="ui segment basic" v-if="this.specieAnimalLength === 0">
                <h4>*No animals available for this species*</h4>
            </div>
        </div>
    </div>

</div>

</template>

<script>
    export default {
        props: ['animals', 'user', 'categories', 'species'],
        data() {
            return {
                showList: '',
                showGrid: '',
                type: 'category',
                selectedCategory: '',
                selectedSpecie: '',
                search: '',
                createAnimalUrl: "animals/create",
                animalsFiltered: '',
                specieAnimalLength: 0,          
                }
        },
        created() {
            this.animalsFiltered = this.animals;
            this.showList = window.innerWidth < 768 ? false : true;
            this.showGrid = window.innerWidth < 768 ? true : false;
        },
        computed: {
            certifications() {
                return this.user.handling_certifications;
            }
        },
        watch: {
            search: function() {
                this.updateList();
            }
        },
        methods: {
            showListView() {
                this.showList = true;
                this.showGrid = false;
            },
            showGridView() {
                this.showList = false;
                this.showGrid = true;   
            },
            goToUrl: function (url) {
                console.log(url);
                window.location = url;
            },
            setCategory: function(category){
                this.selectedCategory = category;
                this.type = 'specie';
            },
            setSpecies: function(specie){
                this.selectedSpecie = specie;
                for (var animal of this.animals){
                    if (animal.animal_species_id === specie.id){
                        this.specieAnimalLength++;
                    }
                }
                this.type = 'animal';
            },
            backToCategories: function(){
                this.selectedCategory = '';
                this.selectedSpecie = '';
                this.type = 'category';
            },
            updateList: function() {
                var newList = [];
                function contains(container, value) {
                    var returnValue = false;
                    var pos = container.indexOf(value);
                    if (pos >= 0) {
                        returnValue = true;
                    }
                    return returnValue;
                }
                if (this.search !== '') {
                    for (var animal of this.animals) {
                        var nameSearch = contains(animal.name.toLowerCase(), this.search.toLowerCase());
                        var nickNameSearch = contains(animal.nickname.toLowerCase(), this.search.toLowerCase());
                        if (nameSearch == true || nickNameSearch == true)
                            newList.push(animal);
                    }
                    this.animalsFiltered = newList;
                }
                else
                    this.animalsFiltered = this.animals;
            }
        }
    }
</script>

<style scoped>

</style>