<template>
    <div>
        <h2 class="ui horizontal divider header">
            Employee Profile
        </h2>
        <div class="ui segment blue-white-gradient">
            <div class="ui card">
                <div class="image" v-if="user.image">
                    <img :src="user.image_url">
                </div>
                <div class="content">
                    <a class="header" :href="userProfileUrl">{{user.name}}</a>
                    <p class="email">{{user.email}}</p>
                    <p>{{user.phone_number}}</p>
                    <a :href="userEditProfileUrl">Edit Profile</a>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <h3>Your Animals Licenses</h3>
            <div class="ui massive middle aligned divided list">
                <div class="item" v-for="certification in user.handling_certifications">
                    <handling-certification-list :certification="certification"></handling-certification-list>
                </div>
                <p class="content" v-if="user.handling_certifications.length == 0">
                    *No licenses to renew*
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                userProfileUrl: '',
                userEditProfileUrl: ''
            }
        },
        mounted() {
            this.userProfileUrl = '/user/' + this.user.id
            this.userEditProfileUrl = '/user/' + this.user.id + '/edit'
        }
    }
</script>

<style scoped>

</style>