<template>
    <div v-if="this.specie.id == animal.animal_species_id" class="card">
        <div class="content">
            <div style="text-align:center;">
                <img class="centered ui image" :src="animal.image_url">
            </div>
            <div class="ui horizontal divider"></div>
            <div class="header">
                {{animal.name}}
            </div>
            <div class="meta">
                Animal Type 
            </div>
            <div class="description">
                {{animal.nickname}}
            </div>
        </div>
        <div class="content" v-if="this.hasCertificate == true">
            <div class="ui two buttons">
                <button v-on:click="goToUrl(animalDashboardUrl)" class="ui blue button">Dashboard</button>
                <div class="or"></div>
                <button v-on:click="goToUrl(checkoutUrl)" class="ui button">Checkout</button>
            </div>
        </div>
        <div class="content" v-if="this.hasCertificate == false">
            <div class="ui two buttons">
                <button v-on:click="goToUrl(animalDashboardUrl)" class="ui blue button">Dashboard</button>
                <div class="or"></div>
                <button v-on:click="goToUrl(checkoutUrl)" class="ui disabled button">Checkout</button>
            </div>
        </div>
        <div style="margin:0;" class="ui pointing label" v-if="this.hasCertificate == false">
            *Certificate required to handle*
        </div>
    </div>
</template>

<script>
    export default {
        props: ['animal', 'categories', 'specie', 'certifications'],
        data() {
            return {
                checkoutUrl: '',
                animalDashboardUrl: '',
                hasCertificate: false,
            }
        },
        created() {
            this.checkoutUrl = '/animals/' + this.animal.id + '/checkout';
            this.animalDashboardUrl = '/animal/' + this.animal.id;
            this.hasCertificate = this.checkCertificate();
        },
        methods: {
            goToUrl: function (url) {
                console.log(url);
                window.location = url;
            },
            checkCertificate: function() {
                for (var certificate of this.certifications){
                    console.log();
                    if (certificate.animal_species_id == this.animal.animal_species_id)
                        return true;
                    else
                        return false;
                }
            }
        }
    }
</script>

<style scoped>
.item {
    display: inline-block;
}

img {
    display: block;
    width: auto;
    max-height: 300px !important;
}
</style>