<template>
    <div class="card">
        <div class="content">
            <div class="ui horizontal divider"></div>
            <div class="header">
                {{category.name}}
            </div>
            <div class="meta">
                Animal Category 
            </div>
            <div class="description">
                #{{category.id}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['animal', 'category', 'species'],
        data() {
            return {
            }
        },
        created() {
        },
        methods: {
            goToUrl: function (url) {
                window.location = url;
            }
        }
    }
</script>

<style scoped>
.item {
    display: inline-block;
}
</style>