<template>
    <div v-if="this.category.id == specie.animal_category_id" class="card">
        <div class="content">
            <div class="ui horizontal divider"></div>
            <div class="header">
                {{specie.name}}
            </div>
            <div class="meta">
                Animal Specie 
            </div>
            <div class="description">
                #{{specie.id}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['animal', 'category', 'specie'],
        data() {
            return {
            }
        },
        created() {
        },
        methods: {
        }
    }
</script>

<style scoped>
.item {
    display: inline-block;
}
</style>