@darkblue: rgb(3,87,140);
@blue: rgb(41,115,164);
@lightblue: rgb(119,157,194);
@white: rgb(240,237,226);
@orange: rgb(247,149,72);
@grey: #525252;

body {
    color: @grey;
}

.blue-white-gradient {
    border: 1px solid @darkblue !important ;
    background: -moz-linear-gradient(135deg, @white 0%, @white 50%, rgba(3,87,140,1) 50%) !important;
    background: -webkit-linear-gradient(135deg, @white 0%, @white 50%, rgba(3,87,140,1) 50%) !important;
    background: -o-linear-gradient(135deg, @white 0%, @white 50%, rgba(3,87,140,1) 50%) !important;
    background: -ms-linear-gradient(135deg, @white 0%, @white 50%, rgba(3,87,140,1) 50%) !important;
    background: -linear-gradient(315deg, @white 0%, @white 50%, rgba(3,87,140,1) 50%) !important;
    padding:40px 20px !important;
}

.blue-white-gradient h1 {
    color: @white;
}

.admin-settings .card {
    min-height: 200px !important;
}

.tile {
    width:32% !important;
}

.animal-tile {
    width:32% !important;
}
.animal-tile img {
    border-radius: 10px !important;
}

.mobile-only {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.hover {
    cursor: pointer;
}

.flex-center {
    display:flex;
    justify-content:center;
}

.btns-search div {
    display: inline !important;
}

.hover:hover {
    background-color: rgba(0,0,0,0.1);
}

.full-width {
    width:100%;
}

.side-menu-mobile a {
    padding: 25px 20px;
    font-size: 20px;
}

.desktop-menu a {
    padding: 20px !important;
}

.dashboard-container {
    display: flex;
    width:100%;
    .dashboard-split {
        justify-content: space-between;
        width:45%;
        margin: 0 2.5%;
    }
}

.app-padding {
    margin-top: 100px;
}

.mobile-menu {
    padding-top:5px;
    background-color: white !important;
    display:none;
}

@media (max-width: 1200px) {
    .tile {
        width:30% !important;
    }
    .animal-tile {
        width:45% !important;
    }
}

// TABLET
@media (max-width: 768px) {
    .container {
        padding:0 !important;
        width: 100%;
    }
    .tile {
        width:45% !important;
    }
    .animal-tile {
        width:100% !important;
    }
    .animal-tile img {
        height: auto !important;
    }
        .desktop-only {
        display: none !important;
    }
    .mobile-only {
        display: block !important;
    }
    .mobile-menu {
        display:flex;
        border-bottom: 1.5px solid #e7e7e7 !important;
    }
    .animal-name {
        font-size: 0.6em;
    }
    .dashboard-container {
        display: block;
        width:100%;
        .dashboard-split {
            justify-content: space-between;
            width:100%;
            margin: 20px 0;
        }
    }
    .app-padding {
        margin-top: 80px;
    }
}

// MOBILE
@media (max-width: 555px) {
    .desktop-only {
        display: none !important;
    }
    .mobile-only {
        display: block !important;
    }
    .blue-white-gradient {
        padding: 40px 10px !important;
        display: flex;
        justify-content: center;
    }
    .admin-settings .card {
        min-height: 100px !important;
    }
    .small-at-mobile {
        font-size: 16px;
    }
}

@media (max-width: 410px) {
}